<!-- Main Section -->
<div class="Main_Section">
   <div class="row">
      <div class="col-sm-6">
         <div class="Section"> <!-- Section Start-->
            <div class="Section_Identity"> <h5 class="Identity"> Basic Info</h5> </div>
            <div class="Section_Data">
               <div class="Data">
                  <div class="Title"> Applied Position <span> : </span> </div>
                  <div class="Value"> {{CandidateData['Basic_Info']?.Post_Applied}} </div>
               </div>
               <div class="Data">
                  <div class="Title"> Applied Department <span> : </span> </div>
                  <div class="Value"> {{CandidateData['Basic_Info']?.Department?.Department}} ( {{CandidateData['Basic_Info']?.Department?.Department_Code}} ) </div>
               </div>
               <div class="Data">
                  <div class="Title"> Applied Institute <span> : </span> </div>
                  <div class="Value"> {{CandidateData['Basic_Info']?.Institution?.Institution}} ( {{CandidateData['Basic_Info']?.Institution?.Institution_Code}} ) </div>
               </div>
            </div>
         </div><!-- Section End -->
         <div class="Section"> <!-- Section Start-->
            <div class="Section_Identity"> <h5 class="Identity"> Personal Info</h5> </div>
            <div class="Section_Data">
               <div class="Data">
                  <div class="Title"> Name <span> : </span> </div>
                  <div class="Value"> {{CandidateData['Personal_Info']?.Name}} </div>
               </div>
               <div class="Data">
                  <div class="Title"> Date of Birth <span> : </span> </div>
                  <div class="Value"> {{CandidateData['Personal_Info']?.DOB}} </div>
               </div>
               <div class="Data">
                  <div class="Title"> Age <span> : </span> </div>
                  <div class="Value"> {{CandidateData['Personal_Info']?.Age}} </div>
               </div>
               <div class="Data">
                  <div class="Title"> Gender <span> : </span> </div>
                  <div class="Value"> {{CandidateData['Personal_Info']?.Gender}} </div>
               </div>
               <div class="Data">
                  <div class="Title"> Place of Birth <span> : </span> </div>
                  <div class="Value"> {{CandidateData['Personal_Info']?.Place_of_Birth}} </div>
               </div>
               <div class="Data">
                  <div class="Title"> Nationality <span> : </span> </div>
                  <div class="Value"> {{CandidateData['Personal_Info']?.Nationality}} </div>
               </div>
               <div class="Data">
                  <div class="Title"> Religion <span> : </span> </div>
                  <div class="Value"> {{CandidateData['Personal_Info']?.Religion}} </div>
               </div>
               <div class="Data">
                  <div class="Title"> Community <span> : </span> </div>
                  <div class="Value"> {{CandidateData['Personal_Info']?.Community}} </div>
               </div>
               <div class="Data">
                  <div class="Title"> Caste <span> : </span> </div>
                  <div class="Value"> {{CandidateData['Personal_Info']?.Caste}} </div>
               </div>
               <div class="Data">
                  <div class="Title"> Aadhar No <span> : </span> </div>
                  <div class="Value"> {{CandidateData['Personal_Info']?.Aadhar_No}} </div>
               </div>
               <div class="Data">
                  <div class="Title"> Email Address  <span> : </span> </div>
                  <div class="Value"> {{CandidateData['Personal_Info']?.Email}} </div>
               </div>
               <div class="Data">
                  <div class="Title"> Contact No  <span> : </span> </div>
                  <div class="Value"> {{CandidateData['Personal_Info']?.Contact_No}} </div>
               </div>
               <div class="Data">
                  <div class="Title"> PAN No  <span> : </span> </div>
                  <div class="Value"> {{CandidateData['Personal_Info']?.PAN_No}} </div>
               </div>
            </div>
         </div><!-- Section End -->
      </div>
      <div class="col-sm-6">
         <div class="Section"> <!-- Section Start-->
            <div class="Section_Identity"> <h5 class="Identity"> Uploads </h5> </div>
            <div class="Section_Data">
               <div class="Data" style="align-items: unset;">
                  <div class="Title"> Photo  <span> : </span> </div>
                  <div class="Value"> 
                     <img style="max-width:120px;" src="http://localhost:5000/API/Uploads/CandidatePhotos/{{CandidateData['Files']?.Photo?.filename}}" alt=""> 
                  </div>
               </div>
               <div class="Data" style="align-items: unset;">
                  <div class="Title"> Signature  <span> : </span> </div>
                  <div class="Value"> 
                     <img style="max-height:40px;" src="http://localhost:5000/API/Uploads/CandidateSignatures/{{CandidateData['Files']?.Signature?.filename}}" alt=""> 
                  </div>
               </div>
               <div class="Data">
                  <div class="Title"> Cover Later  <span> : </span> </div>
                  <div class="Value"> 
                     <a target="blank" href="http://localhost:5000/API/Uploads/CandidateCoverLater/{{CandidateData['Files']?.Cover_Later?.filename}}" alt=""> View Cover Later </a>
                  </div>
               </div>
            </div>
         </div><!-- Section End -->
         <div class="Section"> <!-- Section Start-->
            <div class="Section_Identity"> <h5 class="Identity"> Permanent Address</h5> </div>
            <div class="Section_Data">
               <div class="Data">
                  <div class="Title"> Door No  <span> : </span> </div>
                  <div class="Value"> {{CandidateData['Personal_Info']?.Permanent_Door_No}} </div>
               </div>
               <div class="Data">
                  <div class="Title"> Street  <span> : </span> </div>
                  <div class="Value"> {{CandidateData['Personal_Info']?.Permanent_Street}} </div>
               </div>
               <div class="Data">
                  <div class="Title"> city  <span> : </span> </div>
                  <div class="Value"> {{CandidateData['Personal_Info']?.Permanent_City}} </div>
               </div>
               <div class="Data">
                  <div class="Title"> State  <span> : </span> </div>
                  <div class="Value"> {{CandidateData['Personal_Info']?.Permanent_Sate}} </div>
               </div>
               <div class="Data">
                  <div class="Title"> Pin Code  <span> : </span> </div>
                  <div class="Value"> {{CandidateData['Personal_Info']?.Permanent_Pin_Code}} </div>
               </div>
            </div>
         </div><!-- Section End -->
         <div class="Section"> <!-- Section Start-->
            <div class="Section_Identity"> <h5 class="Identity"> Present Address</h5> </div>
            <div class="Section_Data">
               <div class="Data">
                  <div class="Title"> Door No  <span> : </span> </div>
                  <div class="Value"> {{CandidateData['Personal_Info']?.Present_Door_No}} </div>
               </div>
               <div class="Data">
                  <div class="Title"> Street  <span> : </span> </div>
                  <div class="Value"> {{CandidateData['Personal_Info']?.Present_Street}} </div>
               </div>
               <div class="Data">
                  <div class="Title"> city  <span> : </span> </div>
                  <div class="Value"> {{CandidateData['Personal_Info']?.Present_City}} </div>
               </div>
               <div class="Data">
                  <div class="Title"> State  <span> : </span> </div>
                  <div class="Value"> {{CandidateData['Personal_Info']?.Present_Sate}} </div>
               </div>
               <div class="Data">
                  <div class="Title"> Pin Code  <span> : </span> </div>
                  <div class="Value"> {{CandidateData['Personal_Info']?.Present_Pin_Code}} </div>
               </div>
            </div>
         </div><!-- Section End -->
         <div class="Section"> <!-- Section Start-->
            <div class="Section_Identity"> <h5 class="Identity"> Family Information </h5> </div>
            <div class="Section_Data">
               <div class="Data">
                  <div class="Title"> Marital Status  <span> : </span> </div>
                  <div class="Value"> {{CandidateData['Personal_Info']?.Marital_Status}} </div>
               </div>
               <div class="Data" *ngIf="CandidateData['Personal_Info']?.Marital_Status === 'Single'">
                  <div class="Title"> No of Siblings  <span> : </span> </div>
                  <div class="Value"> {{CandidateData['Personal_Info']?.No_Of_Siblings}} </div>
               </div>
               <div class="Data" *ngIf="CandidateData['Personal_Info']?.Marital_Status === 'Married'">
                  <div class="Title"> No of Kids  <span> : </span> </div>
                  <div class="Value"> {{CandidateData['Personal_Info']?.No_Of_Kids}} </div>
               </div>
            </div>
         </div><!-- Section End -->
      </div>
      <div class="col-sm-12">
         <div class="Section"> <!-- Section Start-->
            <div class="Section_Identity"> <h5 class="Identity"> Family Details </h5> </div>
            <div class="Section_Table">
               <table>
                  <thead>
                     <tr>
                        <th></th>
                        <th> Name </th>
                        <th> Designation </th>
                        <th> Organization </th>
                        <th> Location </th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td class="Special"> Father <span> : </span></td>
                        <td> {{CandidateData['Personal_Info']?.Father_Name}} </td>
                        <td> {{CandidateData['Personal_Info']?.Father_Designation}} </td>
                        <td> {{CandidateData['Personal_Info']?.Father_Organization}} </td>
                        <td> {{CandidateData['Personal_Info']?.Father_Locality}} </td>
                     </tr>
                     <tr>
                        <td class="Special"> Mother <span> : </span> </td>
                        <td> {{CandidateData['Personal_Info']?.Mother_Name}} </td>
                        <td> {{CandidateData['Personal_Info']?.Mother_Designation}} </td>
                        <td> {{CandidateData['Personal_Info']?.Mother_Organization}} </td>
                        <td> {{CandidateData['Personal_Info']?.Mother_Locality}} </td>
                     </tr>
                     <tr *ngIf="CandidateData['Personal_Info']?.Marital_Status === 'Married'">
                        <td class="Special"> Spouse <span> : </span> </td>
                        <td> {{CandidateData['Personal_Info']?.Spouse_Name}} </td>
                        <td> {{CandidateData['Personal_Info']?.Spouse_Designation}} </td>
                        <td> {{CandidateData['Personal_Info']?.Spouse_Organization}} </td>
                        <td> {{CandidateData['Personal_Info']?.Spouse_Locality}} </td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div><!-- Section End -->
         <div *ngIf="CandidateData['Personal_Info']?.Marital_Status === 'Married' && CandidateData['Personal_Info']?.No_Of_Kids > 0" class="Section"> <!-- Section Start-->
            <div class="Section_Identity"> <h5 class="Identity"> Kids Details </h5> </div>
            <div class="Section_Table">
               <table>
                  <thead>
                     <tr>
                        <th> Name </th>
                        <th> Age </th>
                        <th> Gender </th>
                        <th> Class/Course </th>
                        <th> School/College </th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr *ngFor="let Kid of CandidateData['Personal_Info']?.kids_List">
                        <td> {{Kid.Kids_Name}} </td>
                        <td> {{Kid.Kids_Age}} </td>
                        <td> {{Kid.Kids_Gender?.name}} </td>
                        <td> {{Kid.Kids_Class_Course}} </td>
                        <td> {{Kid.Kids_School_College}} </td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div><!-- Section End -->
      </div>
   </div>
</div>


