<!-- Main Section -->
<div class="Main_Section">
   <div class="row">
      <div class="col-sm-4">
         <div class="row">
            <div class="col-sm-6">
               <h5>Name:</h5>
            </div>
            <div class="col-sm-6">
               <h6>xxxxx</h6>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-6">
               <h5>D.O.B:</h5>
            </div>
            <div class="col-sm-6">
               <h6>24-05-89</h6>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-6">
               <h5>Age:</h5>
            </div>
            <div class="col-sm-6">
               <h6>23</h6>
            </div>
         </div>
         <div class="row">
               <div class="col-sm-6">
                  <h5>Gender:</h5>
               </div>
               <div class="col-sm-6">
                  <h6>Male</h6>
               </div>
            </div>
         <div class="row">
            <div class="col-sm-6">
               <h5>PlaceofBirth:</h5>
            </div>
            <div class="col-sm-6">
               <h6>chennai</h6>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-6">
               <h5>Nationality:</h5>
            </div>
            <div class="col-sm-6">
               <h6>Indian</h6>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-6">
               <h5>Religion:</h5>
            </div>
            <div class="col-sm-6">
               <h6>Hindu</h6>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-6">
               <h5>Community:</h5>
            </div>
            <div class="col-sm-6">
               <h6>BC</h6>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-6">
               <h5>Caste:</h5>
            </div>
            <div class="col-sm-6">
               <h6>yyyy</h6>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-6">
               <h5>Aadhar No:</h5>
            </div>
            <div class="col-sm-6">
               <h6>4654657</h6>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-6">
               <h5>Email Id:</h5>
            </div>
            <div class="col-sm-6">
               <h6>sample@gmail.com</h6>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-6">
               <h5>Contact No:</h5>
            </div>
            <div class="col-sm-6">
               <h6>+635453653</h6>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-6">
               <h5>PAN No:</h5>
            </div>
            <div class="col-sm-6">
               <h6>574654</h6>
            </div>
         </div>
      </div>
      <div class="col-sm-4">
         <h4>Permanent Address</h4>
         <div class="row">
            <div class="col-sm-6">
               <h5>Door Number</h5>
            </div>
            <div class="col-sm-6">
               <h6>No:17</h6>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-6">
               <h5>Street</h5>
            </div>
            <div class="col-sm-6">
               <h6>Bharathiyar</h6>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-6">
               <h5>city</h5>
            </div>
            <div class="col-sm-6">
               <h6>Chennai</h6>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-6">
               <h5>State</h5>
            </div>
            <div class="col-sm-6">
               <h6>Tamil Nadu</h6>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-6">
               <h5>Pin Code</h5>
            </div>
            <div class="col-sm-6">
               <h6>641-889</h6>
            </div>
         </div>
      </div>
      <div class="col-sm-4">
         <h4>Present Address</h4>
         <div class="row">
            <div class="col-sm-6">
               <h5>Door Number</h5>
            </div>
            <div class="col-sm-6">
               <h6>No:17</h6>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-6">
               <h5>Street</h5>
            </div>
            <div class="col-sm-6">
               <h6>Bharathiyar</h6>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-6">
               <h5>city</h5>
            </div>
            <div class="col-sm-6">
               <h6>Chennai</h6>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-6">
               <h5>State</h5>
            </div>
            <div class="col-sm-6">
               <h6>Tamil Nadu</h6>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-6">
               <h5>Pin Code</h5>
            </div>
            <div class="col-sm-6">
               <h6>641-889</h6>
            </div>
         </div>
      </div>
   </div>  
   <br>
   <!-- Table Section -->
   <h4>Details of family members</h4>
   <div class="Table_section">
      <div class="row">
         <div class="col-sm-12">
            <table>
               <thead>
                  <tr>
                     <th></th>
                     <th>Name</th>
                     <th>Designation</th>
                     <th>Organization</th>
                     <th>Location</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>
                        <span>Father</span>
                     </td>
                     <td>
                        <span><input type="text"></span>
                     </td>
                     <td>
                        <span><input type="text"></span>
                     </td>
                     <td>
                        <span><input type="text"></span>
                     </td>
                     <td>
                        <span><input type="text"></span>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <span>Mother</span>
                     </td>
                     <td>
                        <span><input type="text"></span>
                     </td>
                     <td>
                        <span><input type="text"></span>
                     </td>
                     <td>
                        <span><input type="text"></span>
                     </td>
                     <td>
                        <span><input type="text"></span>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>
