<!-- Main Section -->
<div class="Main_Section">
   <div class="row">
      <div class="col-sm-12">
         <div class="row">
            <div class="col-sm-4">
               <h5>Post Applied:</h5>
            </div>
            <div class="col-sm-4">
               <h6>Assistant Professor</h6>
            </div>
         </div>
      </div>
      </div>
      <div class="row">
      <div class="col-sm-12">
            <div class="row">
               <div class="col-sm-4">
                  <h5>Department:</h5>
               </div>
               <div class="col-sm-4">
                  <h6>Agriculture Engineering</h6>
               </div>
            </div>
         </div>
   </div>
</div>
