
<!-- page section -->
<div class="Page_Section">
   <div class="container-fluid">
   <!-- page Identity -->
      <div class="Page_Identity">
         <div class="Page_Name">
            <h5>QUESTIONS & ANSWERS</h5>
         </div>
         <div class="Page_Track">
            <ul >
               <li class="HeaderName">Home </li>
               <li class="arrow">>></li>
               <li> Questions & Answers </li>
            </ul>
         </div>
      </div>
      <div [ngClass]="{'Hide': !Loader}" class="DataLoaderStyle_1">
         <div class="Loading">
            <div class="spinner">
               <div class="rect1"></div>
               <div class="rect2"></div>
               <div class="rect3"></div>
               <div class="rect4"></div>
               <div class="rect5"></div>
               <div class="rect6"></div>
            </div>
         </div>
      </div>
      <div class="LoadedDataStyle_1" [ngClass]="{'Show': !Loader}">
         <div class="row" style="margin-bottom: 15px;">
            <div class="col-sm-3">
               <button mat-raised-button color="primary" (click)="CreateQuestionAnswers()" > + Create </button>
               &nbsp; &nbsp;
               <button mat-raised-button color="primary"> 
                  <label style="margin: 0px; cursor: pointer;"> 
                     <input type="file" style="display: none" (change)="onUploadFileChange($event)" #fileInputFile/>
                     + Excel Import 
                  </label>
               </button>
            </div>
            <div class="col-sm-3 Form_Select">
               <ng-select class="NgSelect ValueBold"
                           [(ngModel)]="Institution"
                           [items]="_Institutions"
                           [bindLabel]="'Institution'"
                           [bindValue]="'_id'"
                           [searchable]="true"
                           placeholder="Institution"
                           (ngModelChange)="FilterChange()">
               </ng-select>
            </div>
            <div class="col-sm-3 Form_Select">
               <ng-select class="NgSelect ValueBold"
                           [(ngModel)]="Department"
                           [items]="_Departments"
                           [bindLabel]="'Department'"
                           [bindValue]="'_id'"
                           [searchable]="true"
                           placeholder="Department"
                           (ngModelChange)="FilterChange()">
               </ng-select>
            </div>
            <div class="col-sm-3 Form_Select">
               <ng-select class="NgSelect ValueBold"
                           [(ngModel)]="Category"
                           [items]="_Categories"
                           [bindLabel]="'Category'"
                           [bindValue]="'_id'"
                           [searchable]="true"
                           placeholder="Category"
                           (ngModelChange)="FilterChange()">
               </ng-select>
            </div>
         </div>
         <div class="Main_Section" [ngClass]="{'FilterLoading': FilterLoading}">
            <div class="DataLoaderStyle_1" style="background: rgba(255, 255, 255, 0.5); min-height: 60px;" [ngStyle]="{'display' : (FilterLoading) ? 'block' : 'none'}">
               <div class="Loading">
                  <div class="spinner">
                     <div class="rect1"></div>
                     <div class="rect2"></div>
                     <div class="rect3"></div>
                     <div class="rect4"></div>
                     <div class="rect5"></div>
                     <div class="rect6"></div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div *ngFor="let Question of _FilteredList; let i=index" class="col-sm-12">
                  <ng-container *ngIf="Question.Type === 'Image'">
                     <div class="Section" style="display: flex">
                           <h5 style="margin-right:20px;"> {{i + 1}}.
                              <span class="Actions">
                                 <span (click)="DeleteQuestion(i)"><i class="material-icons delete"> delete </i></span>
                              </span>
                           </h5>
                        <img (mouseenter)="ImgZoom(Question['Image']?.filename)" (mouseleave)="ImgZoomHide()" style="max-width:200px; max-height: 100px;" src="http://139.59.20.129:4000/API/Uploads/Questions/{{Question['Image']?.filename}}" alt="">
                        <div #actualTarget></div>
                        <div class="Options">
                           <span class="option ans" *ngIf="Question.Answer === 'A'"> Answer: <span class="Differ"> A </span> </span>
                           <span class="option ans" *ngIf="Question.Answer === 'B'"> Answer: <span class="Differ"> B </span>  </span>
                           <span class="option ans" *ngIf="Question.Answer === 'C'"> Answer: <span class="Differ"> C </span>  </span>
                           <span class="option ans" *ngIf="Question.Answer === 'D'"> Answer: <span class="Differ"> D </span>  </span>
                           <span class="option ans" *ngIf="Question.Answer === 'E'"> Answer: <span class="Differ"> E </span>  </span>
                           <span class="option ans" *ngIf="Question.Answer === 'F'"> Answer: <span class="Differ"> F </span>  </span>
                        </div>
                     </div>
                  </ng-container>
                  <ng-container *ngIf="Question.Type === 'Question'">
                     <div class="Section">
                        <h5> {{i + 1}}. {{Question.Question}} 
                           <span class="Actions">
                              <span (click)="DeleteQuestion(i)"><i class="material-icons delete"> delete </i></span>
                           </span>
                        </h5>
                        <!-- Options -->
                        <div class="Options">
                           <span class="option" [ngClass]="{'ans': Question.Answer === 'A'}"> <span class="Differ"> A. </span> {{Question.Option_A}} </span>
                           <span class="option" [ngClass]="{'ans': Question.Answer === 'B'}"> <span class="Differ"> B. </span> {{Question.Option_B}}  </span>
                           <span class="option" [ngClass]="{'ans': Question.Answer === 'C'}"> <span class="Differ"> C. </span> {{Question.Option_C}}  </span>
                           <span class="option" [ngClass]="{'ans': Question.Answer === 'D'}"> <span class="Differ"> D. </span> {{Question.Option_D}}  </span>
                           <span class="option" [ngClass]="{'ans': Question.Answer === 'E'}"> <span class="Differ"> E. </span> {{Question.Option_E}}  </span>
                           <span class="option" [ngClass]="{'ans': Question.Answer === 'F'}"> <span class="Differ"> F. </span> {{Question.Option_F}}  </span>
                        </div>
                     </div>
                  </ng-container>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="ImageZoom">
   <div class="ImgSection">
      <img src="http://139.59.20.129:4000/API/Uploads/Questions/{{ZoomedImage}}" alt="">
   </div>
</div>



