<app-header></app-header>
<!-- page section -->
<div class="Page_Section">
   <div class="container-fluid">
   <!-- page Identity -->
      <div class="Page_Identity">
         <div class="Page_Name">
            <h5>QUESTIONS & ANSWERS</h5>
         </div>
         <div class="Page_Track">
            <ul >
               <li class="HeaderName">Home </li>
               <li class="arrow">>></li>
               <li> Questions & Answers </li>
            </ul>
         </div>
      </div>
      <div [ngClass]="{'Hide': !Loader}" class="DataLoaderStyle_1">
         <div class="Loading">
            <div class="spinner">
               <div class="rect1"></div>
               <div class="rect2"></div>
               <div class="rect3"></div>
               <div class="rect4"></div>
               <div class="rect5"></div>
               <div class="rect6"></div>
            </div>
         </div>
      </div>
      <div class="LoadedDataStyle_1" [ngClass]="{'Show': !Loader}">
         <div class="row" style="margin-bottom: 15px;">
            <div class="col-sm-12">
               <button  mat-raised-button color="primary" (click)="CreateQuestionAnswers()" > + Create </button>
            </div>
         </div>
         <div class="Main_Section">
            <div class="row">
               <div class="col-sm-12">
                  <div class="Section">
                     <h5> 1. Question 
                        <span class="Actions">
                           <span  (click)="EditQuestionAnswers()"><i class="material-icons edit">border_color</i></span>
                           <span (click)="DeleteQuestion()"><i class="material-icons delete"> delete </i></span>
                        </span>
                     </h5>
                     <!-- Options -->
                     <div class="Options">
                        <span class="option"><span class="Differ">A.</span>option1</span>
                        <span class="ans option"><span class="Differ1">B.</span>option2</span>
                        <span class="option"><span class="Differ">C.</span>option3</span>
                        <span class="option"><span class="Differ">D.</span>option4</span>
                        <span class="option"><span class="Differ">E.</span>option5</span>
                        <span class="option"><span class="Differ">F.</span>option6</span>
                     </div>
                  </div>
               </div>
               <br>
               <div class="col-sm-12">
                  <div class="Section">
                     <h5>2. Question 
                           <span class="Actions">
                              <span  (click)="EditQuestionAnswers()"><i class="material-icons edit">border_color</i></span>
                              <span (click)="DeleteQuestion()"><i class="material-icons delete"> delete </i></span>
                           </span>
                     </h5>
                     <!-- Options -->
                     <div class="Options">
                        <span class="option"><span class="Differ">A.</span>option1</span>
                        <span class="option"><span class="Differ1">B.</span>option2</span>
                        <span class="option"><span class="Differ">C.</span>option3</span>
                        <span class="option"><span class="Differ">D.</span>option4</span>
                        <span class="ans option"><span class="Differ">E.</span>option5</span>
                        <span class="option"><span class="Differ">F.</span>option6</span>
                     </div>
                  </div>
               </div>
               <br>
               <div class="col-sm-12">
                  <div class="Section">
                     <h5>3. Question 
                           <span class="Actions">
                              <span  (click)="EditQuestionAnswers()"><i class="material-icons edit">border_color</i></span>
                              <span (click)="DeleteQuestion()"><i class="material-icons delete"> delete </i></span>
                           </span>
                     </h5>
                     <!-- Options -->
                     <div class="Options">
                        <span class="option"><span class="Differ">A.</span>option1</span>
                        <span class="option"><span class="Differ1">B.</span>option2</span>
                        <span class="option"><span class="Differ">C.</span>option3</span>
                        <span class="option"><span class="Differ">D.</span>option4</span>
                        <span class="ans option"><span class="Differ">E.</span>option5</span>
                        <span class="option"><span class="Differ">F.</span>option6</span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>



