<div class="Main_Section">
   <!-- page section -->
   <div class="Page_Section">
      <div class="container-fluid">
      <!-- page Identity -->
         <div class="Page_Identity">
            <div class="Page_Name">
               <h5>APPLICATIONS</h5>
            </div>
            <div class="Page_Track">
               <ul >
                  <li class="HeaderName">Home </li>
                  <li class="arrow">>></li>
                  <li>Applications List</li>
               </ul>
            </div>
         </div>
         <div [ngClass]="{'Hide': !Loader}" class="DataLoaderStyle_1">
            <div class="Loading">
               <div class="spinner">
                  <div class="rect1"></div>
                  <div class="rect2"></div>
                  <div class="rect3"></div>
                  <div class="rect4"></div>
                  <div class="rect5"></div>
                  <div class="rect6"></div>
               </div>
            </div>
         </div>
         <div class="LoadedDataStyle_1" [ngClass]="{'Show': !Loader}">
            <!-- Table Section -->
            <div class="Table_Section">
               <table>
                  <thead>
                     <tr>
                        <th>S.no</th>
                        <th>Candidate Name</th>
                        <th>Gender & Age </th>
                        <th>Institute To</th>
                        <th>Post of Application</th>
                        <th>Applied Department</th>
                        <th>Status</th>
                        <th>Applied Date</th>
                        <th>Action</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr *ngFor="let Candidate of _List; let i=index">
                        <td>
                           <span class="S_no"> {{i + 1}} </span>
                        </td>
                        <td>
                           <span class="Style_1"> {{Candidate.Personal_Info?.Name}} </span>
                        </td>
                        <td>
                           <span class="Style_1"> {{Candidate.Personal_Info?.Gender}} ({{Candidate.Personal_Info?.Age}})</span>
                        </td>
                        <td>
                           <span class="Style_1"> SNS College Of {{Candidate.FormType}} </span>
                        </td>
                        <td>
                           <span class="Style_1"> {{Candidate.Basic_Info?.Post_Applied}} </span>
                        </td>
                        <td>
                           <span class="Style_1">{{Candidate.Basic_Info?.Department}}</span>
                        </td>
                        <td>
                           <span class="Style_1">{{Candidate.Status}}</span>
                        </td>
                        <td>
                           <span class="Style_1">{{Candidate.createdAt | date:'medium'}}</span>
                        </td>
                        <td>
                           <button mat-raised-button color="primary" [routerLink]="['/Applications', Candidate._id]"> View </button>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>