<div class="Main_Section">
   <!-- page section -->
   <div class="Page_Section">
      <div class="container-fluid">
      <!-- page Identity -->
         <div class="Page_Identity">
            <div class="Page_Name">
               <h5>APPLICATIONS</h5>
            </div>
            <div class="Page_Track">
               <ul >
                  <li class="HeaderName">Home </li>
                  <li class="arrow">>></li>
                  <li>Applications List</li>
               </ul>
            </div>
         </div>
         <div [ngClass]="{'Hide': !Loader}" class="DataLoaderStyle_1">
            <div class="Loading">
               <div class="spinner">
                  <div class="rect1"></div>
                  <div class="rect2"></div>
                  <div class="rect3"></div>
                  <div class="rect4"></div>
                  <div class="rect5"></div>
                  <div class="rect6"></div>
               </div>
            </div>
         </div>
         <div class="LoadedDataStyle_1" [ngClass]="{'Show': !Loader}">
            <div class="row header_part" style="margin-bottom: 15px;">
               <div class="col-sm-4">
                  <button style="margin-right: 15px;" mat-raised-button color="primary" (click)="CreateApplication()" > + Add </button>
                  &emsp;
                  <button style="margin-right: 15px;" mat-raised-button color="primary" (click)="exportAsXLSX()" > Export Table</button>
                  <button mat-raised-button [disabled]="AllExporting" color="primary" (click)="Complete_Export()" >
                     <span *ngIf="AllExporting" > Exporting... </span> 
                     <span *ngIf="!AllExporting"> Export All </span>  </button>
               </div>
               <div class="col-sm-8">
                  <div class="Table_Activities">
                     <div> </div>
                     <button mat-raised-button [matMenuTriggerFor]="Short"> {{Limit_Count}} </button>
                     <mat-menu class="PaginationShort" #Short="matMenu" [overlapTrigger]="false">
                        <button mat-menu-item [ngClass]="{'active': Limit_Count === 5}" (click)="Short_Change(5)"> 5 </button>
                        <button mat-menu-item [ngClass]="{'active': Limit_Count === 10}" (click)="Short_Change(10)"> 10 </button>
                        <button mat-menu-item [ngClass]="{'active': Limit_Count === 20}" (click)="Short_Change(20)"> 20 </button>
                        <button mat-menu-item [ngClass]="{'active': Limit_Count === 50}" (click)="Short_Change(50)"> 50 </button>
                     </mat-menu>
                  </div>
               </div>
            </div>
            <!-- Table Section -->
            <div class="Table_Section">
               <table #TableSection>
                  <thead #TableHeaderSection>
                     <tr>
                        <th width="55px">S.no</th>
                        <th>Candidate Name</th>
                        <th>Gender & Age </th>
                        <th>Institute To</th>
                        <th>Post of Application</th>
                        <th>Applied Department</th>
                        <th>Status</th>
                        <th>Applied Date</th>
                        <th width="110px">Action</th>
                     </tr>
                  </thead>
                  <tbody #TableBodySection>
                     <tr *ngFor="let Candidate of _List; let i=index">
                        <td>
                           <span class="S_no"> {{i + 1}} </span>
                        </td>
                        <td>
                           <span class="Style_1"> {{Candidate.Personal_Info?.Name}}
                              <span style="color: rgba(77, 106, 122, 0.47); display: block;
                              font-size: 12px; font-weight: 700;"> ({{Candidate.Ref_ID}}) </span> </span>
                        </td>
                        <td>
                           <span class="Style_1"> {{Candidate.Personal_Info?.Gender}} ({{Candidate.Personal_Info?.Age}})</span>
                        </td>
                        <td>
                           <span class="Style_1"> {{Candidate.Basic_Info?.Institution?.Institution}} ( {{Candidate.Basic_Info?.Institution?.Institution_Code}} ) </span>
                        </td>
                        <td>
                           <span class="Style_1"> {{Candidate.Basic_Info?.Post_Applied?.Designation}} </span>
                        </td>
                        <td>
                           <span class="Style_1"> {{Candidate.Basic_Info?.Department?.Department}} ( {{Candidate.Basic_Info?.Department?.Department_Code}} ) </span>
                        </td>
                        <td>
                           <span *ngIf="!Candidate.If_Referred_To && (!Candidate.If_Referred_From || (Candidate.If_Referred_From && Candidate.If_Referred_Accepted))" class="Style_1"> {{Candidate.Current_Status}}</span>
                           <span *ngIf="Candidate.If_Referred_From && !Candidate.If_Referred_Accepted" class="Style_1"> Referred </span>
                           <span *ngIf="Candidate.If_Referred_To" class="Style_1"> Forwarded </span> 
                        </td>
                        <td>
                           <span class="Style_1"> {{Candidate.createdAt | date:'medium'}}</span>
                        </td>
                        <td *ngIf="Candidate.If_Referred_To || !this.Application_Handle">
                           <button mat-raised-button color="primary" (click)="SetActionId(i)" [matMenuTriggerFor]="menu" (click)="View()"> View </button>
                        </td>
                        <td *ngIf="!Candidate.If_Referred_To && this.Application_Handle">
                           <ng-container *ngIf="!Candidate.BtnLoading">
                              <button mat-raised-button color="primary" (click)="SetActionId(i)" [matMenuTriggerFor]="menu" > Action </button>
                           </ng-container>
                           <ng-container *ngIf="Candidate.BtnLoading">
                              <button [disabled]="true" mat-raised-button color="primary" class="UploadingBtn"> <i class="fa fa-refresh fa-spin"></i> Loading... </button>
                           </ng-container>
                        </td>
                     </tr>
                     <tr class="TableLoader" #TableLoaderSection >
                        <td colspan="100%" class="Tr_Loader">  Loading<span class="dot">.</span><span class="dot-2">.</span><span class="dot-3">.</span> </td>
                     </tr>
                  </tbody>
                  <tfoot #TableFooterSection>
                     <tr>
                        <td colspan="100">
                           <div class="Table_Footer_Section">
                              <div class="Footer_Left">
                                 <p [innerHTML]="Showing_Text"> </p>
                              </div>
                              <div class="Footer_Right">
                                 <div class="Pagination">
                                    <ul>
                                       <li class="{{Page_Previous['Class']}}" (click)="Pagination_Action(Page_Previous['Value'])" >
                                          <span class="arrow"> << </span>
                                          <span> Previous </span>
                                       </li>
                                       <li *ngFor="let Page of Pages_Array; let i=index" class="{{Page.Class}}" [ngClass]="{'active': Page.Active}" (click)="Pagination_Action(Page.Value)" > 
                                          <span> {{Page.Text}} </span>
                                       </li> 
                                       <li class="{{Page_Next['Class']}}" (click)="Pagination_Action(Page_Next['Value'])">
                                          <span> Next </span>
                                          <span class="arrow"> >> </span>
                                       </li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                        </td>
                     </tr>
                  </tfoot>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>

<mat-menu #menu="matMenu" class="MenuStyleOne" [overlapTrigger]="false" yPosition="below" xPosition="after">
   <button mat-menu-item (click)="View()"> View </button>
   <ng-container *ngFor="let Menu of Temp_Menu; let i=index">
      <button *ngIf="Menu.show" mat-menu-item (click)="Action(Menu.activity)"> {{Menu.name}} </button>
   </ng-container>
</mat-menu>