<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<div class="FoodListPage">
   <!-- pge Identity -->
   <div class="PageIdentity container-fluid">
      <div class="row">
         <div class="col-sm-12 text-right">
            <p class="Identity">
            <span class="link">Home</span> / Applications</p>
         </div>
      </div>
   </div>
   <!-- left Section -->
   <div class="container-fluid">
      <div class="Main_section">
         <span class="Left_Section">
            <ul class="List">
               <li class="Item" [ngClass]="{'active': Active_Tab === 'basic_info' }" (click)="Active_Tab_Change('basic_info')"> <span> Basic info </span>  </li>
               <li class="Item" [ngClass]="{'active': Active_Tab === 'personal_info' }" (click)="Active_Tab_Change('personal_info')"> <span> Personal Info </span>  </li>
               <li class="Item" [ngClass]="{'active': Active_Tab === 'educational_info' }" (click)="Active_Tab_Change('educational_info')"> <span> Educational Info </span>  </li>
               <li class="Item" [ngClass]="{'active': Active_Tab === 'experience&activities' }" (click)="Active_Tab_Change('experience&activities')"> <span> Experience&Activities </span>  </li>
               <li class="Item" [ngClass]="{'active': Active_Tab === 'reference&declaration' }" (click)="Active_Tab_Change('reference&declaration')"> <span> Reference&Declaration </span>  </li>
            </ul>
         </span>
         <!-- right Section -->
         <span class="Right_Section">
            <div *ngIf="Active_Tab === 'basic_info'">
               <app-basic-info-application ></app-basic-info-application>
            </div> 
            <div *ngIf="Active_Tab === 'personal_info'">
               <app-personal-info-application></app-personal-info-application>
            </div> 
            <div *ngIf="Active_Tab === 'educational_info'">
               <app-education-info-application></app-education-info-application>
            </div>   
            <div *ngIf="Active_Tab === 'experience&activities'">
               <app-experience-activities-application></app-experience-activities-application>
            </div>  
            <div *ngIf="Active_Tab === 'reference&declaration'">
               <app-reference-declaration-application></app-reference-declaration-application>
            </div>  
         </span>
      </div>
   </div>
</div>
  



