<!-- Model Content -->
<div class="Modal_Content">
   <!-- Model Header -->
   <div class="Modal_Header">
         <p> Delete Confirmation </p>
   </div>
   <!-- Model Body -->
   <div class="Model_Body">
      <p> Are you Sure? <br> You want to delete {{Text}}.</p>
   </div>
   <!-- Model Footer -->
   <div class="Model_Footer">
      <button class="Bg_Danger" mat-raised-button color="primary" (click)="Cancel()"> No </button>
      <button mat-raised-button color="primary" (click)="Proceed()"> Yes </button>
   </div>
</div>
