<!-- Main Section -->
<div class="Main_Section">
   <!-- Table Section -->
   <div class="Table_section">
      <div class="row">
         <div class="col-sm-12">
            <table>
               <thead>
                  <tr>
                     <th>Degree</th>
                     <th>Subject and Area of Specialization</th>
                     <th>Name Of the College</th>
                     <th>Year of Passing</th>
                     <th>Percentage of mark and class</th>
                     <th>Medium</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>
                        <span> <input type="text" placeholder="course"></span>
                     </td>
                     <td>
                        <span><input type="text"  placeholder="Specialization"></span>
                     </td>
                     <td>
                        <span><input type="text" placeholder="College Name"></span>
                     </td>
                     <td>
                        <span><input type="text" placeholder="year of passing"></span>
                     </td>
                     <td>
                        <span><input type="text" placeholder="marks"></span>
                     </td>
                     <td>
                        <span><input type="text" placeholder="medium"></span>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <span><input type="text" placeholder="course"></span>
                     </td>
                     <td>
                        <span><input type="text"  placeholder="Specialization"></span>
                     </td>
                     <td>
                        <span><input type="text" placeholder="College Name"></span>
                     </td>
                     <td>
                        <span><input type="text" placeholder="year of passing"></span>
                     </td>
                     <td>
                        <span><input type="text" placeholder="marks"></span>
                     </td>
                     <td>
                        <span><input type="text" placeholder="medium"></span>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <span><input type="text" placeholder="course"></span>
                     </td>
                     <td>
                        <span><input type="text"  placeholder="Specialization"></span>
                     </td>
                     <td>
                        <span><input type="text" placeholder="College Name"></span>
                     </td>
                     <td>
                        <span><input type="text" placeholder="year of passing"></span>
                     </td>
                     <td>
                        <span><input type="text" placeholder="marks"></span>
                     </td>
                     <td>
                        <span><input type="text" placeholder="medium"></span>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <span><input type="text" placeholder="course"></span>
                     </td>
                     <td>
                        <span><input type="text"  placeholder="Specialization"></span>
                     </td>
                     <td>
                        <span><input type="text" placeholder="College Name"></span>
                     </td>
                     <td>
                        <span><input type="text" placeholder="year of passing"></span>
                     </td>
                     <td>
                        <span><input type="text" placeholder="marks"></span>
                     </td>
                     <td>
                        <span><input type="text" placeholder="medium"></span>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
   <br>
   <div class="row">
      <div class="col-sm-6">
         <h4>H.S.C Details</h4>
         <div class="row">
            <div class="col-sm-6">
               <h5>Name of the school</h5>
            </div>
            <div class="col-sm-6">
               <h6>GHSS</h6>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-6">
               <h5>Medium</h5>
            </div>
            <div class="col-sm-6">
               <h6>Tamil</h6>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-6">
               <h5>Year of passing</h5>
            </div>
            <div class="col-sm-6">
               <h6>2011</h6>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-6">
               <h5>Percentage</h5>
            </div>
            <div class="col-sm-6">
               <h6>80%</h6>
            </div>
         </div>
      </div>
      <div class="col-sm-6">
         <h4>S.S.L.C Details</h4>
         <div class="row">
            <div class="col-sm-6">
               <h5>Name of the school</h5>
            </div>
            <div class="col-sm-6">
               <h6>GHSS</h6>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-6">
               <h5>Medium</h5>
            </div>
            <div class="col-sm-6">
               <h6>Tamil</h6>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-6">
               <h5>Year of passing</h5>
            </div>
            <div class="col-sm-6">
               <h6>2008</h6>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-6">
               <h5>Percentage</h5>
            </div>
            <div class="col-sm-6">
               <h6>75%</h6>
            </div>
         </div>
      </div>
   </div>
</div>  
   
