<!-- Model Content -->
<div class="Modal_Content">
   <div class="Modal_Header">
      <p>Edit Question Answers</p>
      <span data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
   </div>
   <!-- Model Body -->
   <div class="Model_Body">
      <div class="row">
         <div class="col-sm-12">
            <div class="row">
               <div class="col-sm-12 Form_TextArea">
                  <label>Question:</label>
                  <textarea class="Question" rows="3"></textarea>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-6 Form_Input">
                  <label>optionA:</label>
                  <input type="text">
               </div>
               <div class="col-sm-6 Form_Input">
                  <label>optionB:</label>
                  <input type="text">
               </div>
               <div class="col-sm-6 Form_Input">
                  <label>optionC:</label>
                  <input type="text"> 
               </div>
               <div class="col-sm-6 Form_Input">
                  <label>optionD:</label>
                  <input type="text"> 
               </div>
               <div class="col-sm-6 Form_Input">
                  <label>optionE:</label>
                  <input type="text"> 
               </div>
               <div class="col-sm-6 Form_Input">
                     <label>optionF:</label>
                  <input type="text"> 
               </div>
            </div>
            <!-- option design -->
            <div class="row">
               <div class="col-sm-12 option_design">
                  <span><input type="checkbox"> A</span>
                  <span><input type="checkbox"> B</span>
                  <span><input type="checkbox"> C</span>
                  <span><input type="checkbox"> D</span>
                  <span><input type="checkbox"> E</span>
                  <span><input type="checkbox"> F</span>
               </div>
            </div>
            <br>
         </div>
      </div>
   </div>
   <!-- Model Footer -->
   <div class="Model_Footer">
      <button mat-raised-button color="primary" > Submit </button>
   </div>
</div>
