<!-- Main Section -->
<div class="Main_Section">
   <!-- Table Section -->
   <div class="Table_section">
      <h4>Reference</h4>
      <div class="row">
         <div class="col-sm-12">
            <table>
               <thead>
                  <tr>
                     <th></th>
                     <th>Name</th>
                     <th>Designation</th>
                     <th>Organization</th>
                     <th>Contact No</th>
                     <th>Mail id</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>
                        <span>Reference 1</span>
                     </td>
                     <td>
                        <span><input type="text"></span>
                     </td>
                     <td>
                        <span><input type="text"></span>
                     </td>
                     <td>
                        <span><input type="text"></span>
                     </td>
                     <td>
                        <span><input type="text"></span>
                     </td>
                     <td>
                        <span><input type="text"></span>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <span>Reference 2</span>
                     </td>
                     <td>
                        <span><input type="text"></span>
                     </td>
                     <td>
                        <span><input type="text"></span>
                     </td>
                     <td>
                        <span><input type="text"></span>
                     </td>
                     <td>
                        <span><input type="text"></span>
                     </td>
                     <td>
                        <span><input type="text"></span>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>
   
   
   
   
