<div class="Modal_Content">
  <div class="Modal_Header">
     <p> Reset Password  </p>
     <span *ngIf="!Uploading" data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
  </div>
  <form [formGroup]="Form" (ngSubmit)="submit()">
     <div class="Model_Body">
        <div class="row">
           <div class="col-sm-12 Form_Input" [ngClass]="{'Form_Err': Form.controls['Email'].errors && !Form.controls['Email'].pristine, 'Form_Success': Form.controls['Email'].valid && !Form.controls['Email'].pristine }">
              <label>Email:</label>
              <input type="text" formControlName="Email">
              <p class="error" *ngIf="Form.controls['Email'].errors && !Form.controls['Email'].pristine">
                 <span *ngIf="Form.controls['Email'].errors.required">Email is required</span>
                 <span *ngIf="Form.controls['Email'].errors.email">Email not valid </span>
              </p>
           </div>
        </div>
     </div>
     <div class="Model_Footer">
        <button type="submit" [disabled]="Form.status !== 'VALID' || Uploading" mat-raised-button color="primary">
           <span *ngIf="!Uploading">Submit</span>
           <span *ngIf="Uploading" class="UploadingBtn"> <i class="fa fa-refresh fa-spin"></i> Loading... </span>
        </button>
     </div>
  </form>
</div>
