
/* Button Color Overwrite */

.mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
   background-color: #4d6a7a;
   color: #ffffff;
}
.mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary{
   color: #4d6a7a;
}
.mat-button.mat-primary .mat-button-focus-overlay, .mat-icon-button.mat-primary .mat-button-focus-overlay, .mat-stroked-button.mat-primary .mat-button-focus-overlay{
   background-color: rgba(74, 182, 95, 0.1);
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
   border-color: #4c6a7a;
}
.mat-radio-button.mat-accent .mat-radio-inner-circle {
   background-color: #4c6a7a;
}

/* Table Action Button Style Change */
.Table_Action_mini.mat-mini-fab{
   height: 35px;
   width: 35px;
   margin-right: 7px;
}
.Table_Action_mini.mat-mini-fab .mat-button-wrapper{
   padding: 5px 0px;
}


.MenuStyleOne .mat-menu-item-highlighted:not([disabled]),
.MenuStyleOne .mat-menu-item.cdk-keyboard-focused:not([disabled]),
.MenuStyleOne .mat-menu-item.cdk-program-focused:not([disabled]),
.MenuStyleOne .mat-menu-item:hover:not([disabled]) {
   background: #4E6A7A !important;
   color: #ffffff;
}

.MenuStyleOne .mat-menu-content:not(:empty) {
   padding-top: 0px !important;
   padding-bottom: 0px !important;
}
.MenuStyleOne .mat-menu-item{
   line-height: 35px !important;
   height: 35px !important;
}



.mat-calendar-body-selected{
   background-color: #4E6A7A !important;
}

.mat-datepicker-content-touch .mat-calendar {
   width: 370px !important;
   height: 425px !important;
}

.cdk-overlay-container{
   z-index: 1052 !important;
}









.Checkbox_Design.mat-checkbox{
   line-height: 40px !important;
   font-size: 14px;
   font-weight: 700;
   color: #4e6a7a;
}
.Checkbox_Design.mat-checkbox-checked .mat-checkbox-inner-container{
   background-color: #004c7d;
}
.Checkbox_Design.mat-checkbox .mat-checkbox-inner-container .mat-checkbox-frame{
   border-color: #687e8c
}
.Checkbox_Design.mat-checkbox-checked .mat-checkbox-inner-container .mat-checkbox-frame{
   border-color: #004c7d
}
.Checkbox_Design.mat-checkbox .mat-checkbox-layout {
   white-space: normal;
}

.Checkbox_Design.mat-checkbox-disabled .mat-checkbox-label {
   color: #4e6a7a;
}
.Checkbox_Design.mat-checkbox-disabled.mat-checkbox-checked .mat-checkbox-background{
   background-color: inherit;
}