<div class="login-section">
   <!-- Image Section -->
	<div class="image-section">
		<div class="over"></div>
      <img src="assets/images/basic/login_background_promo.jpg">
   </div>
   <!-- Form Section -->
   <div class="form-section">
      <div class="form">
         <h5 style="text-align:center;margin: 30px 0px;font-size: 25px;"> login</h5><br>
         <div class="icon">
            <i class="material-icons">
               person
            </i>
            <input type="text" name="username" placeholder="username">
         </div><br>
         <div class="icon">
            <i class="material-icons">
               lock
            </i>
            <input type="password" name="password" placeholder="password">
         </div><br>
         <button class="login-design" [routerLink]="['/Dashboard']">login</button>
      </div>
   </div>
</div>