<div class="Header">
   <!-- Header Logo -->
   <div class="HeaderLogo">
      <img src="./../../../../assets/images/basic/SNS (1).png" alt="Logo" class="header-logo">
      <!-- Logout -->
      <div class="logout">
         <h5>
            <a [routerLink]="['/Login']"> Logout </a>
         </h5>
      </div>
   </div>
   <!-- Menus -->
   <div class="HeaderMenu">
      <ul class="menus">
         <!-- DashBoard -->
         <li class="menu-list" [routerLinkActive]="['active']">
            <a [routerLink]="['/Dashboard']">
               <span class="pull-left"> &nbsp; Dashboard </span>
            </a>
         </li>
         <!-- Applications -->
         <li class="menu-list" [routerLinkActive]="['active']">
            <a [routerLink]="['/Applications']">
               <span class="pull-left"> &nbsp; Applications </span>
            </a>
         </li>
         <!-- Settings -->
         <li class="menu-list" [routerLinkActive]="['active']">
               <span class="tree-menus">
                  <a [routerLink]="['/settings']">
                     <span class="pull-left"> &nbsp; Settings </span>
                  </a>
                  <ul class="tree-view">
                     <li class="tree-list"  [routerLink]="['/Post_Applied']"><a> Post Applied </a></li>
                     <li class="tree-list"  [routerLink]="['/Department']"><a> Departments </a></li>
                     <li class="tree-list"  [routerLink]="['/Personal_Info']"><a> Personal Info </a></li>
                     <li class="tree-list"  [routerLink]="['/Educational_Info']"><a> Educational Info </a></li>
                  </ul>
               </span>
            </li>
         <!-- Q/A -->
         <li class="menu-list" [routerLinkActive]="['active']">
            <a [routerLink]="['/view_Q/A']" >
               <span class="pull-left"> &nbsp; Q/A </span>
            </a>
         </li>
      </ul>
   </div>
</div>