<div class="Header">
   <!-- Header Logo -->
   <div class="HeaderLogo">
      <img src="./../../../../assets/images/basic/SNS (1).png" alt="Logo" class="header-logo">
      <!-- Logout -->
      <div class="logout">
         <h5>
            <a [routerLink]="['/Login']"> Logout </a>
         </h5>
      </div>
   </div>
   <!-- Menus -->
   <div class="HeaderMenu">
      <ul class="menus">
         <!-- DashBoard -->
         <!-- <li class="menu-list" [routerLinkActive]="['active']">
            <a [routerLink]="['/Dashboard']">
               <span> Dashboard </span>
            </a>
         </li> -->
         <!-- Applications -->
         <li class="menu-list" [routerLinkActive]="['active']">
            <a [routerLink]="['/Applications']">
               <span> Applications </span>
            </a>
         </li>
         <!-- Q/A -->
         <li *ngIf="Q_A_Permission" class="menu-list" [routerLinkActive]="['active']">
            <a [routerLink]="['/view_Q/A']" >
               <span> Q/A </span>
            </a>
         </li>
         <!-- Vacancies Config -->
         <li *ngIf="BasicConfig_Permission" class="menu-list" [routerLinkActive]="['active']">
            <a [routerLink]="['/VacanciesConfig']" >
               <span> Vacancies </span>
            </a>
         </li>
         <!-- Exam Config  -->
         <li *ngIf="BasicConfig_Permission" class="menu-list" [routerLinkActive]="['active']">
            <a [routerLink]="['/ExamConfig']" >
               <span> Exam Config </span>
            </a>
         </li>
         <!-- Categories -->
         <li *ngIf="BasicConfig_Permission" class="menu-list" [routerLinkActive]="['active']">
            <a [routerLink]="['/Categories']" >
               <span> Q&A Categories </span>
            </a>
         </li>
         <!-- Exam Details -->
         <li *ngIf="BasicConfig_Permission" class="menu-list" [routerLinkActive]="['active']">
            <a [routerLink]="['/ExamDetails']" >
               <span> Exam Details </span>
            </a>
         </li>
         <!-- Settings -->
         <li *ngIf="UserManagement_Permission || AdvancedConfig_Permission" class="menu-list" [routerLinkActive]="['active']">
            <span class="tree-menus">
               <a>
                  <span> Settings </span>
               </a>
               <ul class="tree-view">
                  <li *ngIf="AdvancedConfig_Permission" class="tree-list" [routerLinkActive]="['active']" [routerLink]="['/Departments']"><a> Departments</a></li>
                  <li *ngIf="AdvancedConfig_Permission" class="tree-list" [routerLinkActive]="['active']" [routerLink]="['/Designation']"><a> Designation </a></li>
                  <li *ngIf="AdvancedConfig_Permission" class="tree-list" [routerLinkActive]="['active']" [routerLink]="['/Institutions']"><a> Institutions </a></li>
                  <li *ngIf="UserManagement_Permission" class="tree-list" [routerLinkActive]="['active']" [routerLink]="['/User_Management']"><a> User Management </a></li>
               </ul>
            </span>
         </li>
      </ul>
   </div>
</div> 