<div class="Header">
   <!-- Header Logo -->
   <div class="HeaderLogo">
      <img src="./../../../../assets/images/basic/SNS (1).png" alt="Logo" class="header-logo">
      <!-- Logout -->
      <div class="logout">
         <h5>
            <a [routerLink]="['/Login']"> Logout </a>
         </h5>
      </div>
   </div>
   <!-- Menus -->
   <div class="HeaderMenu">
      <ul class="menus">
         <!-- DashBoard -->
         <!-- <li class="menu-list" [routerLinkActive]="['active']">
            <a [routerLink]="['/Dashboard']">
               <span> Dashboard </span>
            </a>
         </li> -->
         <!-- Applications -->
         <li class="menu-list" [routerLinkActive]="['active']">
            <a [routerLink]="['/Applications']">
               <span> Applications </span>
            </a>
         </li>
         <!-- Q/A -->
         <li class="menu-list" [routerLinkActive]="['active']">
            <a [routerLink]="['/view_Q/A']" >
               <span> Q/A </span>
            </a>
         </li>
         <!-- Settings -->
         <li class="menu-list" [routerLinkActive]="['active']">
            <span class="tree-menus">
               <a>
                  <span> Settings </span>
               </a>
               <ul class="tree-view">
                  <li class="tree-list" [routerLinkActive]="['active']" [routerLink]="['/Departments']"><a> Config Departments</a></li>
                  <li class="tree-list" [routerLinkActive]="['active']" [routerLink]="['/Categories']"><a> Config Categories </a></li>
                  <li class="tree-list" [routerLinkActive]="['active']" [routerLink]="['/Institutions']"><a> Institutions </a></li>
                  <li class="tree-list" [routerLinkActive]="['active']" [routerLink]="['/ExamConfig']"><a> Exam Config </a></li>
                  <li class="tree-list" [routerLinkActive]="['active']" [routerLink]="['/ExamDetails']"><a> Exam Details </a></li>
                  <!-- <li class="tree-list" [routerLinkActive]="['active']" [routerLink]="['/Post_Applied']"><a> Post Applied </a></li>
                  <li class="tree-list" [routerLinkActive]="['active']" [routerLink]="['/Personal_Info']"><a> Personal Info </a></li>
                  <li class="tree-list" [routerLinkActive]="['active']" [routerLink]="['/Educational_Info']"><a> Educational Info </a></li> -->
                  <li class="tree-list" [routerLinkActive]="['active']" [routerLink]="['/User_Management']"><a> User Management </a></li>
               </ul>
            </span>
         </li>
      </ul>
   </div>
</div>