<div class="Modal_Content">
   <div class="Modal_Header">
      <p> Create User</p>
      <span data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
   </div>
   <div class="Model_Body">
      <form [formGroup]="Form"> 
         <div class="row">
            <div class="col-sm-6 Form_Input">
               <label> Name : </label>
               <input type="text" formControlName="Name" >
               <p class="error" *ngIf="Form.controls['Name'].errors && !Form.controls['Name'].pristine">
                  <span *ngIf="Form.controls['Name'].errors.required">Name is required</span>
               </p>
            </div><br>
            <div class="col-sm-6 Form_Input">
               <label> User Name :</label>
               <input type="text" formControlName="User_Name"> 
               <p class="error" *ngIf="Form.controls['User_Name'].errors && !Form.controls['User_Name'].pristine">
                  <span *ngIf="Form.controls['User_Name'].errors.required"> User Name is required</span>
                  <span *ngIf="Form.controls['User_Name'].errors.UserName_NotAvailable"> User Name Already Exist</span>
               </p>
            </div>
            <div class="col-sm-6 Form_Input">
               <label> User Password :</label>
               <input type="password" formControlName="User_Password" >
               <p class="error" *ngIf="Form.controls['User_Password'].errors && !Form.controls['User_Password'].pristine">
                  <span *ngIf="Form.controls['User_Password'].errors.required"> User Password is required</span>
               </p>
            </div>
            <div class="col-sm-6 Form_Input">
               <label> Email :</label>
               <input type="email" formControlName="Email" >
               <p class="error" *ngIf="Form.controls['Email'].errors && !Form.controls['Email'].pristine">
                  <span *ngIf="Form.controls['Email'].errors.required"> Email is required</span>
                  <span *ngIf="Form.controls['Email'].errors.email"> Email must be a valid email address </span>
               </p>
            </div>
            <div class="col-sm-6 Form_Input">
               <label> Phone :</label>
               <input type="text" formControlName="Phone" >
            </div>
            <div class="col-sm-6 Form_Select">
               <label>Designations :</label>
               <ng-select class="NgSelect"
                        formControlName="Designation"
                        [items]="_Designations"
                        [bindLabel]="'Designation'"
                        [bindValue]="'_id'"
                        [searchable]="true">
               </ng-select>
               <p class="error" *ngIf="Form.controls['Designation'].errors && !Form.controls['Designation'].pristine">
                  <span *ngIf="Form.controls['Designation'].errors.required"> Designation is required</span>
               </p>
            </div>
            <div *ngIf="Form.controls['Institution_Restricted'].value" class="col-sm-6 Form_Select">
               <label>Institution :</label>
               <ng-select class="NgSelect"
                           [items]="_Institutions"
                           [bindLabel]="'Institution'"
                           [bindValue]="'_id'"
                           [searchable]="true"
                           formControlName="Institution"
                           (change)="InstitutionChange()">
               </ng-select>
               <p class="error" *ngIf="Form.controls['Institution'].errors && !Form.controls['Institution'].pristine">
                  <span *ngIf="Form.controls['Institution'].errors.required"> Institution is required</span>
               </p>
            </div>
            <div *ngIf="Form.controls['Department_Restricted'].value" class="col-sm-6 Form_Select">
               <label>Department :</label>
               <ng-select class="NgSelect"
                           formControlName="Department"
                           [items]="_Departments"
                           [bindLabel]="'Department'"
                           [bindValue]="'_id'"
                           [searchable]="true">
               </ng-select>
               <p class="error" *ngIf="Form.controls['Department'].errors && !Form.controls['Department'].pristine">
                  <span *ngIf="Form.controls['Department'].errors.required"> Department is required</span>
               </p>
            </div>
         </div>
         <br>
         <div class="row">
            <div class="col-sm-4">
               <mat-checkbox formControlName="Institution_Restricted" (change)="Institution_Restricted_Change()" color="theme" class="Checkbox_Design"> Institution Restricted </mat-checkbox>
            </div>
            <div *ngIf="Form.controls['Institution_Restricted'].value" class="col-sm-4">
               <mat-checkbox formControlName="Department_Restricted" (change)="Department_Restricted_Change()" color="theme" class="Checkbox_Design"> Department Restricted </mat-checkbox>
            </div>
            <div class="col-sm-4">
               <mat-checkbox formControlName="Q_A_Permission" color="theme" class="Checkbox_Design"> Q&A Permission</mat-checkbox>
            </div>
            <div class="col-sm-4">
               <mat-checkbox formControlName="GD_Permission" color="theme" class="Checkbox_Design"> GD Permission</mat-checkbox>
            </div>
            <div class="col-sm-4">
               <mat-checkbox formControlName="Technical_Permission" color="theme" class="Checkbox_Design"> Technical Permission</mat-checkbox>
            </div>
            <div class="col-sm-4">
               <mat-checkbox formControlName="Hr_Permission" color="theme" class="Checkbox_Design"> HR Permission</mat-checkbox>
            </div>
            <div class="col-sm-12">
               <mat-checkbox formControlName="OnlineExamUpdate_Permission" color="theme" class="Checkbox_Design">Online Exam Result Update Permission </mat-checkbox>
            </div>
            <div class="col-sm-12">
               <mat-checkbox formControlName="ApplicationManagement_Permission" color="theme" class="Checkbox_Design"> Application Accept, Forward, Exam Assign and Delete Permissions </mat-checkbox>
            </div>
            <div class="col-sm-12">
               <mat-checkbox formControlName="BasicConfig_Permission" color="theme" class="Checkbox_Design"> Vacancies, Categories, Exam Config  And Exam Details Managing Permissions </mat-checkbox>
            </div>
            <div class="col-sm-12">
               <mat-checkbox formControlName="AdvancedConfig_Permission" color="theme" class="Checkbox_Design"> Department, Designation And Institution Config Permissions </mat-checkbox>
            </div>
            <div class="col-sm-12">
               <mat-checkbox formControlName="UserManagement_Permission" color="theme" class="Checkbox_Design"> User Management Permissions </mat-checkbox>
            </div>
         </div>
      </form>
   </div>
   <div class="Model_Footer">
      <button mat-raised-button (click)="submit()" [disabled]="!Form.valid" color="primary" > Submit </button>
   </div>
</div>