<!-- Main Section -->
<div class="Main_Section">
   <h3>Co-Curricular-Activities</h3>
   <div class="row">
      <div class="col-sm-6">
         <h4>Programmes Attended</h4>
         <div class="row">
            <div class="col-sm-6">
               <h5>No of FDP:</h5>
            </div>
            <div class="col-sm-6">
               <h6>4</h6>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-6">
               <h5>No of workshop:</h5>
            </div>
            <div class="col-sm-6">
               <h6>5</h6>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-6">
               <h5>No of Conference:</h5>
            </div>
            <div class="col-sm-6">
               <h6>3</h6>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-6">
               <h5>No of Symposium:</h5>
            </div>
            <div class="col-sm-6">
               <h6>2</h6>
            </div>
         </div>
      </div>
      <div class="col-sm-6">
         <h4>Programmes Organized</h4>
         <div class="row">
            <div class="col-sm-6">
               <h5>No of FDP:</h5>
            </div>
            <div class="col-sm-6">
               <h6>4</h6>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-6">
               <h5>No of workshop:</h5>
            </div>
            <div class="col-sm-6">
               <h6>5</h6>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-6">
               <h5>No of Conference:</h5>
            </div>
            <div class="col-sm-6">
               <h6>3</h6>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-6">
               <h5>No of Symposium:</h5>
            </div>
            <div class="col-sm-6">
               <h6>2</h6>
            </div>
         </div>
      </div>
   </div><br>
   <div class="row">
      <div class="col-sm-6">
         <h4>Research Published Details</h4>
         <div class="row">
            <div class="col-sm-6">
               <h5>No of Monograph</h5>
            </div>
            <div class="col-sm-6">
               <h6>4</h6>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-6">
               <h5>published  Books </h5>
            </div>
            <div class="col-sm-6">
               <h6>8</h6>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-6">
               <h5>Inherited books</h5>
            </div>
            <div class="col-sm-6">
               <h6>4</h6>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-6">
               <h5>journals</h5>
            </div>
            <div class="col-sm-6">
               <h6>4</h6>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-6">
               <h5>Conference proceeding</h5>
            </div>
            <div class="col-sm-6">
               <h6>5</h6>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-6">
               <h5>Citations</h5>
            </div>
            <div class="col-sm-6">
               <h6>4</h6>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-6">
               <h5>H-index</h5>
            </div>
            <div class="col-sm-6">
               <h6>2</h6>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-6">
               <h5>1-10index</h5>
            </div>
            <div class="col-sm-6">
               <h6>2</h6>
            </div>
         </div>
      </div>
      <div class="col-sm-6">
         <h4>No of Project Guided</h4>
         <div class="row">
            <div class="col-sm-6">
            <h5>Project guide in PG</h5>
            </div>
            <div class="col-sm-6">
               <h6>2</h6>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-6">
               <h5>Project guide in UG </h5>
            </div>
            <div class="col-sm-6">
               <h6>3</h6>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-6">
               <h5>Project guide in PHD</h5>
            </div>
            <div class="col-sm-6">
               <h6>2</h6>
            </div>
         </div>
      </div>
   </div>  <br>
   <div class="row">
      <div class="col-sm-6">
         <h4>Patent</h4>
         <div class="row">
            <div class="col-sm-6">
               <h5>Title</h5>
            </div>
            <div class="col-sm-6">
               <h6>xxxx</h6>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-6">
               <h5>Investigators </h5>
            </div>
            <div class="col-sm-6">
               <h6>yyyyyy</h6>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-6">
               <h5>patent no</h5>
            </div>
            <div class="col-sm-6">
               <h6>3424</h6>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-6">
               <h5>Status</h5>
            </div>
            <div class="col-sm-6">
               <h6>file</h6>
            </div>
         </div>
      </div>
      <div class="col-sm-6">
         <h4>Achievements & Awards</h4>
         <div class="row">
            <div class="col-sm-6">
              <h5>Category</h5>
            </div>
            <div class="col-sm-6">
               <h6>Category</h6>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-6">
               <h5>Achievement </h5>
            </div>
            <div class="col-sm-6">
               <h6>Achievement</h6>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-6">
               <h5>Year</h5>
            </div>
            <div class="col-sm-6">
               <h6>2008</h6>
            </div>
         </div>
      </div>
   </div>  
</div>
   
