<div class="Page_Section">
   <div class="Page_Identity">
      <div class="Page_Name">
         <h5>USER MANAGEMENT</h5>
      </div>
      <div class="Page_Track">
         <ul >
            <li class="HeaderName">Settings</li>
            <li class="arrow">>></li>
            <li>User Management </li>
         </ul>
      </div>
   </div>
   <div class="row header_part">
      <div class="col-sm-8">
      <button class="Create_Button" mat-raised-button (click)="CreateUser()"> + Create </button>
      </div>
      <div class="col-sm-4">
         <div class="Search_Section">
            <input type="text" placeholder="Search.." name="search">
            <i class="material-icons">search</i>
         </div>
      </div>
   </div>
   <div class="Table_Section">
      <table>
         <thead>
            <tr>
               <th style="width: 80px;">S.no</th>
               <th>Name</th>
               <th>Email</th>
               <th>Phone</th>
               <th>Institution</th>
               <th>Department</th>
               <th>Designation</th>
               <th> Action </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of _List; let i=index">
               <td>
                  <span class="S_no"> {{i + 1}} </span>
               </td>
               <td>
                  <span class="Style_1"> {{item['Name']}} </span>
               </td>
               <td>
                  <span class="Style_1"> {{item['Email']}} </span>
               </td>
               <td>
                  <span class="Style_1"> {{item['Phone']}} </span>
               </td>
               <td>
                  <span class="Style_1"> {{item?.Institution?.Institution}} </span>
               </td>
               <td>
                  <span class="Style_1"> {{item?.Department?.Department}} </span>
               </td>
               <td>
                  <span class="Style_1"> {{item?.Designation?.Designation}}  </span>
               </td>
               <td>
                  <button (click)="ViewUser(i)" class="Table_Action_mini Bg_Info" mat-mini-fab color="primary">
                     <i class="material-icons">zoom_in</i>
                  </button>
                  <button (click)="EditUser(i)" class="Table_Action_mini Bg_warning" mat-mini-fab color="primary">
                     <i class="material-icons">edit</i>
                  </button>
                  <button *ngIf="!item.Active_Status" (click)="ActivateUser(i)" class="Table_Action_mini Bg_Danger" mat-mini-fab color="primary">
                     <i class="material-icons">block</i>
                  </button>
                  <button *ngIf="item.Active_Status" (click)="DeactivateUser(i)" class="Table_Action_mini Bg_Success" mat-mini-fab color="primary">
                     <i class="material-icons">check_circle_outline</i>
                  </button>
               </td>
            </tr>
         </tbody>
      </table>
   </div>
</div>
 